@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
  }

body {
    background-image: #e3dac9;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#box1 {
    background-image: linear-gradient(to right, #F7E7CE, #edc8ff 50%);
    height: 100px;
    display: flex;
    align-items: center;
    box-shadow: 20px 20px 50px rgb(180, 177, 177);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

#redirect1 {
    background-color: transparent;
    border-color: transparent;
    border-style: outset;
    shape-outside: none;
    border-style: solid;
    color: aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: bold;
    margin-left: 980px;
    padding: 30px;
}

#redirect2 {
    background-color: transparent;
    border-color: transparent;
    border-style: outset;
    shape-outside: none;
    border-style: solid;
    color: aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: bold;
    padding: 30px;
    margin-left: 20px;
}

#redirect3 {
    background-color: transparent;
    border-color: transparent;
    border-style: outset;
    shape-outside: none;
    border-style: solid;
    color: aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: bold;
    padding: 30px;
    margin-left: 20px;
}

#abtmecontainer {
    width: 240px;
    margin-top: 90px;
    margin-left: 100px;
}

#abtme {
    font-size: xx-large;
    display: flex;
    text-align: center;
    font-family: "Bree Serif";
    font-weight: bold;
    padding-bottom: 40px;
}




